<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- cele (targets) -->
    <targets>
        <target xsi:type="File"
                name="logfile"
                fileName="${basedir}/logs/errors.log"
                archiveFileName="${basedir}/logs/archives/errors.{#}.log"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
    </targets>

    <!-- reguły -->
    <rules>
        <!-- wszystko od poziomu Info do pliku -->
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
